In [51]:
# Dependencies
import pandas as pd
import numpy as np
import os

In [52]:
csv1 = "hawaii_measurements.csv"
csv2 = "hawaii_stations.csv"

In [53]:
measurements_df = pd.read_csv(csv1, dtype=object)
stations_df = pd.read_csv(csv2, dtype=object)

In [54]:
measurements_df.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
4  USC00519397  2010-01-06   NaN   73

In [55]:
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [56]:
measurements_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
station    19550 non-null object
date       19550 non-null object
prcp       18103 non-null object
tobs       19550 non-null object
dtypes: object(4)
memory usage: 611.0+ KB

In [57]:
#merged_df = pd.merge(df1, df2, on="station", how="outer")
#merged_df

In [58]:
measurements_df = measurements_df.dropna(axis=0)
measurements_df.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
5  USC00519397  2010-01-07  0.06   70

In [59]:
measurements_df = measurements_df.reset_index(drop=True)
measurements_df.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
4  USC00519397  2010-01-07  0.06   70

In [60]:
measurements_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18103 entries, 0 to 18102
Data columns (total 4 columns):
station    18103 non-null object
date       18103 non-null object
prcp       18103 non-null object
tobs       18103 non-null object
dtypes: object(4)
memory usage: 565.8+ KB

In [61]:
measurements_csv = "clean_measurements_data.csv"
measurements_df.to_csv(measurements_csv, encoding="utf-8", index=False)

In [62]:
stations_csv = "clean_stations_data.csv"
stations_df.to_csv(stations_csv, encoding="utf-8", index=False)